body {
  background-color: #A2B7CD;
  font-family: arial, sans-serif;
  color: #414146;
}

.wrapper {
  background-color: #ffffff;
  width: 92%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px 20px;
}

h1 {
  margin-bottom: .5em;
  text-align: center;
}

h2 {
  margin-top: 2em;
  margin-bottom: .25em;
}
h1, h2 {
  color: #4392F1;
}

blockquote {
  border-left: 5px;
  padding-left: 5px;
  background-color: #E9EAEB;
  margin-left: 0;
}

.image {
  text-align: center;
  margin: 1.5em 0;
}

.caption {
  font-style: italic;
  margin-top: .0;
}

ul {
  padding-left: 15px;
}

a {
  color: #182834;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-image: url(../images/houndstooth-pattern.png);
  border-top: 2px solid #393D3F;
  border-bottom: 2px solid #393D3F;
}

#sub-section{
  background-color: gray;
  color: #ffffff;
}

@media only screen and (max-width: 400px) {
  blockquote {
    background-color: #C1D5DD;
  }
}

footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid;
}
