* {
  box-sizing: border-box;
}

body {
  background-color: #A2B7CD;
  font-family: arial, sans-serif;
  color: #414146;
}

.wrapper {
  background-color: #ffffff;
  width: 99%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 12px 20px;
}

h1 {
  margin-bottom: .5em;
  text-align: center;
}

h1#page-title {
  margin: 0;
}

h2 {
  margin-top: .5em;
  margin-bottom: .25em;
}
h1, h2 {
  color: #A50000;
}

blockquote {
  border-left: 5px;
  padding-left: 5px;
  background-color: #E9EAEB;
  margin-left: 0;
}

.image {
  text-align: center;
  margin: 1.5em 0;
}

.caption {
  font-style: italic;
  margin-top: .0;
}

ul {
  padding-left: 15px;
}

a {
  color: #182834;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-image: url(../images/houndstooth-pattern.png);
  border-top: 2px solid #393D3F;
  border-bottom: 2px solid #393D3F;
}

header.wrapper {
  padding: 22px 20px;
}

#sub-section{
  color: #A50000;
}

footer.wrapper {
  text-align: center;
  padding: 22px 20px;
  border-top: 2px solid;
}

aside h2 {
  font-size: 1.5rem;
}

@media all and (min-width: 900px) {
  article, aside {
    float: left;
  }

  article {
  width: 60%;
  padding-right: 40px;
  padding-top: 16px;
  }

  aside {
  width: 40%;
  }

  aside h2:first-child {
    margin-top: 14px;
  }
}
